<br/>
<hr/>
<p>
  <span><%= current_year %></span>
  <span>Nick</span>
  <span><%= git_hub_url('Nickollay', 'Thinknetika_Test_Guru') %></span>
  <span>Сайт с тестами..</span>
  <span><a href="https://thinknetica.com/">Учебный проект в онлайн-школе Thinknetica</a></span>
</p>
