.flash {
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;
}

.error {border-color: #8a1f11;}
.notice {border-color: #514721;}
.success {border-color: #264409;}
.alert {border-color: #ef2727;}
